{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<hr class="mb-5">
<div class="container">
    <!-- <h1 id="AboutUs"> About Us</h1> -->
    <h2>Our History</h2>
    <p class="size">Established in 2004, Pharmacy+ has been serving the Namakkal community for 20 years. Founded by Suresh M, 
    our pharmacy has grown from a small storefront to a trusted healthcare destination known for its commitment
     to excellence and compassionate service.</p>
    <h2>Our Service</h2>
    <p class="size">At Pharmacy+, we offer a comprehensive range of pharmacy services designed to meet the diverse needs of our customers. 
    From prescription filling and medication therapy management to immunizations and specialty compounding, we are dedicated to
     providing personalized care and innovative solutions that enhance the health and well-being of our community.</p>
     <h2>Quality and Safety</h2>
     <p class="size">We adhere to the highest standards of quality and safety in all aspects of our operations. Our pharmacy is fully licensed
      and accredited, and our team follows strict protocols to ensure accurate medication dispensing, proper storage, and compliance 
      with all regulatory requirements. Your health and safety are our top priorities.</p>
</div>
<hr class="mt-5">
{% endblock content %}