{%extends 'home/base.html' %}

{% block content %}
<h1>Home Page</h1>

{% for medicine in medicines %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ medicine.drugname }}</a>
        <small class="text-muted">{{ medicine.expirydate| date:"F d ,Y" }}</small>
      </div>
      <p class="article-content">{{ medicine.price }}</p>
      <p class="article-content">{{ medicine.manufacturer }} {{medicine.medtype}}</p>

      {% if medicine.img %}
      <img src="{{medicine.image}}" class="rounded-circle profile-pic">
      {% endif %}
    </div>
  </article>
{% endfor %}
{% endblock content %}