{% extends 'home/base.html' %}
{% block content %}
  <div class="container">
    <div class="mb-3">
      <label for="customerSelect" class="form-label">Select Customer:</label>
      <select class="form-select" id="customerSelect">
        {% for profile in profiles %}
          <option value="{{ profile.user.username }}">{{ profile.user.username }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="button" class="btn btn-primary mb-3" id="billButton">Bill</button>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Drug Name</th>
          <th scope="col">Batch</th>
          <th scope="col">Types</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Bill</th>
        </tr>
      </thead>
      <tbody>
        {% for medicine in medicines %}
          <tr>
            <td>{{ medicine.id }}</td>
            <td>{{ medicine.drugname }}</td>
            <td>{{ medicine.batchno }}</td>
            <td>{{ medicine.medtype }}</td>
            <td>{{ medicine.stockqty }}</td>
            <td>{{ medicine.price }}</td>
            <td><input type="number" class="form-control" value="0" min="0"></td>
            <td>
              <input type="button" value="Add" class="p-1 m-1">
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- <script>
    $(document).ready(function() {
        $('#billButton').click(function() {
            $.ajax({
                type: 'GET',
                url: '/create_bill/',
                success: function(data) {
                    alert('Bill created successfully!');
                },
                error: function(xhr, status, error) {
                    alert('Error creating bill: ' + error);
                }
            });
        });
    });
</script> -->

{% endblock content %}
